.welcome-page {
    display: flex;
    flex-flow: wrap column;
    width: 100vw;
    height: 100vh;
    position: relative;

    .background-particles {
        background: radial-gradient(ellipse at bottom, #1b2735 0, #090a0f 100%);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        canvas {
            height: 100vh !important;
            position: relative !important;
        }
    }

    .hello {
        line-height: normal;
        width: 100%;
        z-index: 1;
        color: white;
        font-size: 4rem;
        font-weight: bold;
        margin: auto auto 0 auto;
        text-align: center;
        text-shadow: 0 0 2px #000;
        user-select: none;
    }

    .text-typed {
        line-height: normal;
        width: 100%;
        z-index: 1;
        color: white;
        font-size: 3.2rem;
        margin: 0 auto 0 auto;
        text-align: center;
        text-shadow: 0 0 2px #000;
        user-select: none;
    }

    .view-my-projects {
        z-index: 1;
        margin: 3rem auto auto auto !important;
        height: 43px;
        position: relative;
        overflow: hidden;
    }
}

.about-me {
    position: relative;
    z-index: 2;
    background-color: #f5f5f5;
    padding: 7rem 12rem;

    .skills-card {
        // border: 2px solid #bdbdbd;
        // border-radius: 5px;
        // box-shadow: inset 0 0 20px 0px black;
        width: 90%;
        padding: 1.5rem 1rem;
        margin: auto;

        .subtitle-skills {
            background-color: #DDD;
            padding: 0.5rem 1.5rem;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            position: relative;

            i.marginr {
                margin-right: 8px
            }

            .arrow-up {
                position: absolute;
                bottom: -10px;
                width: 0;
                height: 0;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                border-bottom: 15px solid #dddddd;
            }

            .arrow-up.left-side {
                left: -10px;
                transform: rotate(315deg);
            }

            .arrow-up.right-side {
                right: -10px;
                transform: rotate(45deg);
            }
        }

        .group-images-skills {
            display: flex;
            align-items: center;
            // flex-flow: wrap; */
            overflow-x: auto;
            padding-bottom: 10px;

            img {
                user-select: none;
            }
        }
    }
}

.git-states {
    position: relative;
    z-index: 2;
    background-color: #f5f5f5;
    padding: 7rem 12rem;

    .github-card {
        background-color: #0d1117 !important;

        h1 {
            display: flex;
            justify-content: center;
            padding: 1.5rem 1rem 1rem 1rem;
            font-weight: bold;
            color: white;

            a {
                color: #0095ff;
            }
        }
    }
}

.my-projects {
    position: relative;
    z-index: 2;
    background-color: #f5f5f5;
    padding: 7rem 10rem;

    .projects {
        display: flex;
        flex-flow: wrap row;
        justify-content: space-evenly;
        height: auto;
        padding: 3rem 1rem !important;

        .background-particles {
            background: radial-gradient(ellipse at bottom, #1b2735 0, #090a0f 100%);
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;

            #tsparticles2 {
                height: 100%;

                canvas {
                    position: relative !important;
                }
            }
        }

        .ui.card {
            z-index: 1;
            width: 350px;
            height: 380px;
            margin: 2rem;
            box-shadow: 0 0 10px 6px black;
            border: 1px solid white;

            .image {
                height: 72%;

                img {
                    height: 100%;
                }
            }

            .content {
                position: relative;

                .stars {
                    position: absolute;
                    top: 3px;
                    right: 12px;
                }

                .description {
                    color: black;
                    font-size: 1.2rem;
                }
            }

            .extra.content {
                display: flex;
                flex-flow: wrap row;
                overflow: auto;
                padding: 0.4rem;
                border-top: 1px solid #00000024 !important;

                .topic {
                    border: 1px solid #00dcff;
                    color: #00dcff;
                    background-color: #13233ad1;
                    padding: 4px 10px;
                    border-radius: 100px;
                    cursor: default;
                    box-shadow: 0 0 3px 1px black;
                    margin: 3px;
                }
            }
        }
    }
}

.taget-profile p {
    margin: 5px 0;
    font-size: 1.1rem;
    color: #0095ff;

    a {
        color: #0095ff;
    }

    b {
        font-size: 1.2rem;
        color: #fff;
        user-select: none;
    }
}

.loaderBarWave {
    background: #00000091;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    z-index: 100;

    .loader-image {
        margin: auto auto 0 auto;
    }

    .loader-content {
        margin: 26px auto auto auto;
        font-size: 2rem;
        font-weight: bold;
    }
}

@keyframes hideMyProjectButton {
    0% {
        top: 0px;
        opacity: 1;
    }

    100% {
        top: 500px;
        opacity: 0.2;
    }
}