* {
  font-family: 'Roboto' !important;
  font-size: 100% !important; }

html {
  width: 100%;
  height: 100%;
  background-color: black; }

body {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: black; }

.welcome-page {
  display: flex;
  flex-flow: wrap column;
  width: 100vw;
  height: 100vh;
  position: relative; }
  .welcome-page .background-particles {
    background: radial-gradient(ellipse at bottom, #1b2735 0, #090a0f 100%);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
    .welcome-page .background-particles canvas {
      height: 100vh !important;
      position: relative !important; }
  .welcome-page .hello {
    line-height: normal;
    width: 100%;
    z-index: 1;
    color: white;
    font-size: 4rem;
    font-weight: bold;
    margin: auto auto 0 auto;
    text-align: center;
    text-shadow: 0 0 2px #000;
    user-select: none; }
  .welcome-page .text-typed {
    line-height: normal;
    width: 100%;
    z-index: 1;
    color: white;
    font-size: 3.2rem;
    margin: 0 auto 0 auto;
    text-align: center;
    text-shadow: 0 0 2px #000;
    user-select: none; }
  .welcome-page .view-my-projects {
    z-index: 1;
    margin: 3rem auto auto auto !important;
    height: 43px;
    position: relative;
    overflow: hidden; }

.about-me {
  position: relative;
  z-index: 2;
  background-color: #f5f5f5;
  padding: 7rem 12rem; }
  .about-me .skills-card {
    width: 90%;
    padding: 1.5rem 1rem;
    margin: auto; }
    .about-me .skills-card .subtitle-skills {
      background-color: #DDD;
      padding: 0.5rem 1.5rem;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      position: relative; }
      .about-me .skills-card .subtitle-skills i.marginr {
        margin-right: 8px; }
      .about-me .skills-card .subtitle-skills .arrow-up {
        position: absolute;
        bottom: -10px;
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid #dddddd; }
      .about-me .skills-card .subtitle-skills .arrow-up.left-side {
        left: -10px;
        transform: rotate(315deg); }
      .about-me .skills-card .subtitle-skills .arrow-up.right-side {
        right: -10px;
        transform: rotate(45deg); }
    .about-me .skills-card .group-images-skills {
      display: flex;
      align-items: center;
      overflow-x: auto;
      padding-bottom: 10px; }
      .about-me .skills-card .group-images-skills img {
        user-select: none; }

.git-states {
  position: relative;
  z-index: 2;
  background-color: #f5f5f5;
  padding: 7rem 12rem; }
  .git-states .github-card {
    background-color: #0d1117 !important; }
    .git-states .github-card > h1.header {
      display: flex;
      justify-content: center;
      padding: 1.5rem 1rem 1rem 1rem;
      font-weight: bold;
      color: white; }
      .git-states .github-card > h1.header a {
        color: #0095ff; }
    .git-states .github-card > .segments {
      background-color: #1a1f26 !important;
      box-shadow: 0 0 10px 4px inset !important;
      border: 1px solid #0d1117 !important; }
    .git-states .github-card .main-data {
      width: 85%;
      margin: auto !important; }
      .git-states .github-card .main-data .data.image {
        flex-direction: column !important; }
        .git-states .github-card .main-data .data.image img {
          margin-bottom: 7px;
          border: 1px solid white;
          box-shadow: 0 0 20px 0 black; }
      .git-states .github-card .main-data .data {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 20%;
        color: white;
        font-size: 1.4rem;
        font-weight: bold;
        text-shadow: 0 0 11px black; }
    .git-states .github-card .other-data {
      width: 90%;
      margin: 1rem auto !important; }
      .git-states .github-card .other-data .container-arrow {
        background: #ffffff26;
        position: absolute;
        top: 5px;
        bottom: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 10; }
        .git-states .github-card .other-data .container-arrow button {
          background-color: transparent;
          margin: auto;
          padding: 8px; }
      .git-states .github-card .other-data .container-arrow:hover {
        background: #ffffff41; }
      .git-states .github-card .other-data .container-arrow.left {
        left: 5px; }
      .git-states .github-card .other-data .container-arrow.right {
        right: 5px; }
      .git-states .github-card .other-data > .segment {
        width: 50%; }
        .git-states .github-card .other-data > .segment > h2.title {
          color: #fff;
          text-align: center;
          margin: 0.5rem 0 1rem 0; }
        .git-states .github-card .other-data > .segment > .ui.list {
          width: 75%;
          margin: auto;
          max-height: 300px;
          overflow: auto; }
          .git-states .github-card .other-data > .segment > .ui.list .item {
            background-color: #ffffffe0;
            padding: 5px 20px !important;
            border-radius: 20px;
            border: 1px solid white;
            box-shadow: 0 0 10px 2px black;
            margin: 10px 2px; }
            .git-states .github-card .other-data > .segment > .ui.list .item .content > .header {
              color: #4183c4 !important; }
        .git-states .github-card .other-data > .segment .pie-container {
          max-width: 450px;
          max-height: 450px;
          margin: auto; }
    .git-states .github-card .other-da {
      width: 90%;
      margin: 1rem auto !important; }
      .git-states .github-card .other-da .container-arrow {
        background: #ffffff26;
        position: absolute;
        top: 5px;
        bottom: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 10; }
        .git-states .github-card .other-da .container-arrow button {
          background-color: transparent;
          margin: auto;
          padding: 8px; }
      .git-states .github-card .other-da .container-arrow:hover {
        background: #ffffff41; }
      .git-states .github-card .other-da .container-arrow.left {
        left: 5px; }
      .git-states .github-card .other-da .container-arrow.right {
        right: 5px; }
      .git-states .github-card .other-da > .segment {
        flex-flow: row wrap;
        display: flex; }
        .git-states .github-card .other-da > .segment > h2.title {
          color: #fff;
          text-align: center;
          width: 100%;
          margin: 0.5rem 0 1rem 0; }
        .git-states .github-card .other-da > .segment .segment.child {
          width: 50%; }
          .git-states .github-card .other-da > .segment .segment.child > .ui.list {
            width: 75%;
            margin: auto;
            max-height: 300px;
            overflow: auto; }
            .git-states .github-card .other-da > .segment .segment.child > .ui.list .item {
              background-color: #ffffffe0;
              padding: 5px 20px !important;
              border-radius: 20px;
              border: 1px solid white;
              box-shadow: 0 0 10px 2px black;
              margin: 10px 2px; }
              .git-states .github-card .other-da > .segment .segment.child > .ui.list .item .content > .header {
                color: #4183c4 !important; }
          .git-states .github-card .other-da > .segment .segment.child .pie-container {
            max-width: 450px;
            max-height: 450px;
            margin: auto; }

.my-projects {
  position: relative;
  z-index: 2;
  background-color: #f5f5f5;
  padding: 7rem 10rem; }
  .my-projects .projects {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
    height: auto;
    padding: 3rem 1rem !important; }
    .my-projects .projects .background-particles {
      background: radial-gradient(ellipse at bottom, #1b2735 0, #090a0f 100%);
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0; }
      .my-projects .projects .background-particles #tsparticles2 {
        height: 100%; }
        .my-projects .projects .background-particles #tsparticles2 canvas {
          position: relative !important; }
    .my-projects .projects .ui.card {
      z-index: 1;
      width: 350px;
      height: 380px;
      margin: 2rem;
      box-shadow: 0 0 10px 6px black;
      border: 1px solid white; }
      .my-projects .projects .ui.card .image {
        height: 72%; }
        .my-projects .projects .ui.card .image img {
          height: 100%; }
      .my-projects .projects .ui.card .content {
        position: relative; }
        .my-projects .projects .ui.card .content .stars {
          position: absolute;
          top: 3px;
          right: 12px; }
        .my-projects .projects .ui.card .content .description {
          color: black;
          font-size: 1.2rem; }
      .my-projects .projects .ui.card .extra.content {
        display: flex;
        flex-flow: wrap row;
        overflow: auto;
        padding: 0.4rem;
        border-top: 1px solid #00000024 !important; }
        .my-projects .projects .ui.card .extra.content .topic {
          border: 1px solid #00dcff;
          color: #00dcff;
          background-color: #13233ad1;
          padding: 4px 10px;
          border-radius: 100px;
          cursor: default;
          box-shadow: 0 0 3px 1px black;
          margin: 3px; }

.taget-profile p {
  margin: 5px 0;
  font-size: 1.1rem;
  color: #0095ff; }
  .taget-profile p a {
    color: #0095ff; }
  .taget-profile p b {
    font-size: 1.2rem;
    color: #fff;
    user-select: none; }

.loaderBarWave {
  background: #00000091;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  z-index: 100; }
  .loaderBarWave .loader-image {
    margin: auto auto 0 auto; }
  .loaderBarWave .loader-content {
    margin: 26px auto auto auto;
    font-size: 2rem;
    font-weight: bold; }

@keyframes hideMyProjectButton {
  0% {
    top: 0px;
    opacity: 1; }
  100% {
    top: 500px;
    opacity: 0.2; } }
