* {
  font-family: 'Roboto' !important;
  font-size: 100% !important; }

html {
  width: 100%;
  height: 100%;
  background-color: black; }

body {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: black; }

.welcome-page {
  display: flex;
  flex-flow: wrap column;
  width: 100vw;
  height: 100vh;
  position: relative; }
  .welcome-page .background-particles {
    background: radial-gradient(ellipse at bottom, #1b2735 0, #090a0f 100%);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
    .welcome-page .background-particles canvas {
      height: 100vh !important;
      position: relative !important; }
  .welcome-page .hello {
    line-height: normal;
    width: 100%;
    z-index: 1;
    color: white;
    font-size: 4rem;
    font-weight: bold;
    margin: auto auto 0 auto;
    text-align: center;
    text-shadow: 0 0 2px #000;
    user-select: none; }
  .welcome-page .text-typed {
    line-height: normal;
    width: 100%;
    z-index: 1;
    color: white;
    font-size: 3.2rem;
    margin: 0 auto 0 auto;
    text-align: center;
    text-shadow: 0 0 2px #000;
    user-select: none; }
  .welcome-page .view-my-projects {
    z-index: 1;
    margin: 3rem auto auto auto !important;
    height: 43px;
    position: relative;
    overflow: hidden; }

.about-me {
  position: relative;
  z-index: 2;
  background-color: #f5f5f5;
  padding: 7rem 12rem; }
  .about-me .skills-card {
    width: 90%;
    padding: 1.5rem 1rem;
    margin: auto; }
    .about-me .skills-card .subtitle-skills {
      background-color: #DDD;
      padding: 0.5rem 1.5rem;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      position: relative; }
      .about-me .skills-card .subtitle-skills i.marginr {
        margin-right: 8px; }
      .about-me .skills-card .subtitle-skills .arrow-up {
        position: absolute;
        bottom: -10px;
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid #dddddd; }
      .about-me .skills-card .subtitle-skills .arrow-up.left-side {
        left: -10px;
        transform: rotate(315deg); }
      .about-me .skills-card .subtitle-skills .arrow-up.right-side {
        right: -10px;
        transform: rotate(45deg); }
    .about-me .skills-card .group-images-skills {
      display: flex;
      align-items: center;
      overflow-x: auto;
      padding-bottom: 10px; }
      .about-me .skills-card .group-images-skills img {
        user-select: none; }

.git-states {
  position: relative;
  z-index: 2;
  background-color: #f5f5f5;
  padding: 7rem 12rem; }
  .git-states .github-card {
    background-color: #0d1117 !important; }
    .git-states .github-card h1 {
      display: flex;
      justify-content: center;
      padding: 1.5rem 1rem 1rem 1rem;
      font-weight: bold;
      color: white; }
      .git-states .github-card h1 a {
        color: #0095ff; }

.my-projects {
  position: relative;
  z-index: 2;
  background-color: #f5f5f5;
  padding: 7rem 12rem; }
  .my-projects .projects {
    height: 100vh; }
    .my-projects .projects .background-particles {
      background: radial-gradient(ellipse at bottom, #1b2735 0, #090a0f 100%);
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0; }
      .my-projects .projects .background-particles canvas {
        height: 100vh !important;
        position: relative !important; }
    .my-projects .projects .ui.card {
      z-index: 1; }

@keyframes hideMyProjectButton {
  0% {
    top: 0px;
    opacity: 1; }
  100% {
    top: 500px;
    opacity: 0.2; } }
